:root{
    --main-color:#ff9800 ;
    --nav-color: #060c26;
    --animation5: 0.5s;
    --main-padding-top :100px;
    --main-padding-bottom :100px;
    --main-alt-color: #084c84;
    --nain-background: #fafafa;
    --main-auto-color:linear-gradient(90deg,#0c9,#09f);
}
*{
    margin: 0; padding: 0; box-sizing: border-box;
    list-style-type: none;
}
body{
    scroll-behavior: smooth;
    font-family: cairo;
    /* direction: rtl; */
}
@font-face{
    font-family: cairo;
    src: url("../fonts/Alexandria-VariableFont_wght.ttf");
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.overlay{
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Start Navbar */
.navbar{
    background-color: var(--nav-color);
}
.navbar .navbar-brand{
    width: 8%;
    height: 60px;
}
.navbar .navbar-brand img{
    width: 50%;
    text-align: center;
}
.collapse .nav-item a, .active{
    color: #fff;
    font-size: 1.1em;
}
@media screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
      padding: 0 0.5em;
    }
}
.navBtn{
    background: linear-gradient(105deg, rgb(5, 17, 141) 0%, rgb(1, 17, 78) 100%);
    color: #fff;
    padding: 7px;
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    border: none;
    font-size: 15px;
    width: 140px;

}  
.navBtn a{
    text-decoration: none;
    color: #fff;
    margin-left: 7px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    height: 30px;
}
.dropdown-toggle:focus{
    color: #fff;
}
/* End Navbar */



.landing-page{
    position: relative;
    background-image: url(../images/poster\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    object-fit: cover;
    
}
@media(max-width:991px){
    .landing-page{
        width: 100%;
    }
}
.landing-page .text{
    position: relative;
    text-align: center;
    color: #fafafa;
    top: 300px;
}
@media(max-width:991px){
    .text{
        font-size: 10px;
        font-weight: bold;
    }
}
.landing-page .text .mvl-sign{
    width: 250px;
    padding: 10px;
    /* background: linear-gradient(90deg,#0c9,#09f); */
    background: var(--main-auto-color);
    font-weight: 500;
    color: #fff;
    border-radius: 30px;
    border: none;
    position: relative;
    top: 50px;

}
.landing-page .text .mvl-sign:hover{
    background: #0c9;
}
* End Landing-page */

/* owl carousel */
/*  Start owl carousel */
.owl-theme{
    cursor: pointer;
    margin-top: 10px;
    /* background-color: #555; */
}
.owl-theme{
    height: 50%;
}
/*  End owl carousel */

/* Start mvl-card-img */
.mvl-card-img .main-title{
    text-align: center;
    font-size: 35px;
    color: var(--nav-color);
}
@media(max-width:991px){
    .main-title{
        font-size: 25px;
    }    
}
.mvl-card-img .cards{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 20px;
}
@media(max-width:991px){
    .mvl-card-img .cards{
        display: flex;
        flex-wrap: wrap;
    }
}

.mvl-card-img  .title-card {
    margin-left: 10px;
    display: flex;
}
.mvl-card-img  .title p{
    color: #000;
    font-weight: 500;
}
.mvl-card-img  .title span{
    color: #999;
    font-size: 13px;
}
.mvl-card-img  .title-card .stars {
    margin-left: 50px;
}
.mvl-card-img  .title-card .stars i{
    font-size: 15px;
    margin-left: 5px;
    color: red;
}

/* Start  cardsFilm*/
.cardsFilm{
    position: relative;
}
.cardsFilm .main-title{
    text-align: center;
    font-size: 35px;
    color: var(--nav-color);
    margin-top: 50px;
    /* border-bottom: 1px solid#999; */
}

.cardsFilm .mvl-img-one{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0;
    margin-top: 50px;
    cursor: pointer;
}
.cardsFilm .mvl-title{
    position: relative;
    margin: 0;
    display: flex;   
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.cardsFilm .mvl-img-one img{
    width: 100%;
    text-align: center;
}
@media(max-width:991px){
    .cardsFilm .mvl-img-one img{
        max-width: 100%;
    }
}

.cardsFilm .mvl-title .feed-card{
    position: absolute;
    width: 266px;
    top: 40%;
    margin-left: 20px;
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: none; 
}
/* .cardsFilm .mvl-title .feed-card{
    position: relative;
    bottom: 50%;
    z-index: 11;
    left: 10px;
    color: #999;
} */
.cardsFilm .mvl-title:hover{
    opacity: 0.5;
    transform: scale(1.1);

}
.cardsFilm .mvl-title:hover .feed-card{
    /* opacity: 0.5; */
    display: block;
}
/* End  cardsFilm*/

/* Start Video-Card */
.video-card-container{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 10px;
    overflow: hidden;
}
.video-card{
    position: relative;
    width: 100%;
    height: 50%;
    object-fit: cover;
} 
.card-img,
.card-video{
    position: absolute;
    width: 100%;
    height: 50%;
    cursor: pointer;
}
.card-video{
   position: relative;
}

/* End Video-Card */
/* page Sign */
/* Start Page Pricing */
/* Start Pricing */

/* Start Pricing */
.pricing{
    background-color: var(--nain-background);
}
.pricing .main-title{
    text-align: center;
    font-size: 30px;
    color: #272e3a;
    position: relative;
    top: 15px;
}
@media(max-width:991px){
    .pricing .main-title{
        font-size: 20px;
    }
}
.pricing .text{
    color: #7d8aa1;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.pricing .container{
    text-align: center;
}
.pricing .box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #fff;
    max-width: 80%;
    border-radius: 30px;
    align-items: center;
    text-align: end;
    margin: auto;
    margin-top: 10px;
    /* flex-direction: column; */
    cursor: pointer;
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);

}
@media(max-width:991px){
    .pricing .box{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}
.pricing .pricing-img{
    display: flex;
}
@media(max-width:991px){
   
}
.pricing .pricing-img img{
    max-width: 20vh;
    height: 255px;
    border-radius: 10px;
}
@media(max-width:991px){
    .pricing .pricing-img img{
        max-width: 32%;
        text-align: center;
        margin: auto;
    }
}
.pricing .pc-title{
    margin-right: 30px;
}
.pricing .pc-title .title{
    text-align: end;
    font-size: 25px;
    font-weight: 600;
    /* max-width: 80%; */
    /* font-family: Shahid-bold,sans-serif; */
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0.5deg,#0c9,#09f);
    -webkit-background-clip: text;  
    white-space: nowrap;
    width: -moz-fit-content;
}
@media(max-width:991px){
    .pricing .pc-title .title{
        text-align: center;
    }
}
.pricing .pc-title .main-text{
    color: #333;
    font-size: 13px;
}
.pricing .pc-title a{
    color: #0c9;
    font-size: 14px;
}
.pricing .pc-title a:hover{
    letter-spacing: 0.5px;
}
.pricing .price{
    display: block;
    margin: 10px;
}
@media(max-width:991px){
    .pricing .price{
        text-align: center;
        margin: auto;
    }
}
.pricing .price span{
    color: #0c9;
    font-size: 12px;
}
.pricing .price .total{
    color: var(--nav-color);
    font-size: 35px;
    font-weight: 800;
    font-family: Shahid-Black,sans-serif;
}
@media(max-width:991px){
    .pricing .price .total{
        font-size: 25px;
    }
}
.pricing .pc-title .pc-signNow{
    background: var(--main-auto-color);
    width: 60vh;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    padding: 7px;
    margin: auto;
    color: #fff;
}
@media(max-width:991px){
    .pricing .pc-title .pc-signNow{
        width: 20vh;
        text-align: center;
        margin: auto;
        position: relative;
        right: 36px;
    }
}
.pricing .pc-title .pc-signNow:hover{
    background: #0c9;
}

/* Modal */

.modal-content{
    margin-top: 100px;
    border-radius: 13px;
}
.modal-header h1{
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: var(--nav-color);
    font-weight: 700;
}
.modal-body ul {
    text-align: start;
    margin-top: 10px;
}
.modal-body ul li{
    margin-top: 11px;
    color: var(--nav-color);
}
.modal-footer button{
    background: var(--main-auto-color);
    border: none;
}
.modal-footer button:hover{
    background: #0c9;
}
/* End Page Pricing */

/* Start Footer */
.footer{
    background-color: #191919;
    padding: 70px 0 0;
}
@media(max-width:767px){
    .footer{
        text-align: center;
    }
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .box h3{
    color: #fff;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social{
    display: flex;
}
@media (max-width: 767px) {
    .footer .box .social {
      justify-content: center;
    }

}
.footer .box .social li {
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--animation5);
}
.footer .box .social .facebook:hover {
    background-color: #1877f2;
}
.footer .box .social .instagram:hover {
    background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
    background-color: #ff0000;
}
.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}
.footer .box .links li {
    padding: 15px 0;
    transition: var(--animation5);
}
.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
    padding-left: 10px;
}
.footer .box .links li:hover a {
    color: white;
}
.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--animation5);
}
.footer .box .links li a::before {
    /* font-family: "Font Awesome 5 Free";
    content: "\F101"; */
    font-weight: 900;
    margin-right: 10px;
    color: var(--nav-color);
}
.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .footer .box .line {
      flex-direction: column;
    }
}
.footer .box .line #i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
@media (max-width: 767px) {
    .footer .box .line #i {
      margin-right: 0;
      margin-bottom: 15px;
    }
}
.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
.footer .box .line .info span {
    display: block;
}
.footer .footer-gallery img {
    width: 78px;
    border: 3px solid#fff;
    margin: 1px
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
.footer .copyright #heart{
    color: red;
}
/* End Footer */
